version: '3.7'
services:
  backend:
    build:
        context: ./wahlentwicklung-backend
        dockerfile: Dockerfile
    environment:
      - SUPABASE_URL=${_SUPABASE_URL}
      - SUPABASE_SERVICE_KEY=${_SUPABASE_SERVICE_KEY}
    ports:
      - "8082:8082"
    labels:
      - "traefik.http.routers.backend.rule=(Host(`app.localhost`) && PathPrefix(`/api`) && Method(`GET`))"
    depends_on:
      - traefik

  traefik:
    image: traefik:v2.10
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
        - /var/run/docker.sock:/var/run/docker.sock