<div class="bg-white p-4">
    <h2 class="text-xl font-semibold">Bundesländer</h2>
  <mat-list>
    <ng-container *ngFor="let bundesland of bundeslaender">
      <mat-list-item>{{bundesland.name}}</mat-list-item>
      <mat-list style="margin-left:30px;">
        <div *ngFor="let wahlkreis of bundeslaender.wahlkreise">
          <mat-list-item>{{ wahlkreis.name }}</mat-list-item>
        </div>
      </mat-list>
    </ng-container>
  </mat-list>
    <div *ngIf="starredBundesland" class="mt-4">
        <p class="font-semibold">Starred Bundesland:</p>
        <p>{{ starredBundesland.name }}</p>
    </div>
</div>
