<div class="w-2/3 h-96 mx-auto max-w-7xl px-10 lg:px-12">
  <div class="flex justify-center">
    <mat-form-field>
      <mat-label>Bundesland auswählen</mat-label>
      <mat-select [(ngModel)]="selectedBundesland" (selectionChange)="onBundeslandSelect()"
                  [disabled]="!bundeslaender">
        <mat-option *ngIf="!bundeslaender" [value]="">Loading...</mat-option>
        <mat-option *ngFor="let bundesland of bundeslaender" [value]="bundesland">{{ bundesland.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <h2 class="text-center">Bundesland Wahlergebnis
    ({{chartMode == 'zweitstimmen' ? "Zweitstimmen" : "Erststimmen"}})</h2>


  <div #containerRef class="flex justify-center">
    <ng-container>
      <ngx-charts-bar-vertical #stimmenChart class="w-full h-96 mx-auto mt-12"
                               [view]="[containerRef.offsetWidth, containerRef.offsetHeight]"
                               [scheme]="chartConfig.scheme"
                               [results]="chartData"
                               [xAxis]="chartConfig.showXAxis"
                               [yAxis]="chartConfig.showYAxis"
                               [gradient]="chartConfig.gradient"
                               [showXAxisLabel]="chartConfig.showXAxisLabel"
                               [xAxisLabel]="chartConfig.xAxisLabel"
                               [showYAxisLabel]="chartConfig.showYAxisLabel"
                               [yAxisLabel]="chartConfig.yAxisLabel"
                               [legend]="chartConfig.showLegend"
                               [legendTitle]="chartConfig.legendTitle"
                               [customColors]="barChartColorScheme"
      >
        <ng-template #tooltipTemplate let-model="model">
          <div class="custom-tooltip text-xl">
            <span>{{ model.name }}:</span> <br>
            <span>{{ model.value | number: '1.2-2' }}%</span>
          </div>
        </ng-template>
      </ngx-charts-bar-vertical>
    </ng-container>
  </div>

  <div class="flex justify-center pt-16">
    <button mat-button class="text-xl px-4 py-2 rounded-lg" (click)="cycleChartMode()">
      Nächste >
    </button>
  </div>
</div>
