<!--

<div class="bg-gray-100 p-4">
    <h1 class="text-2xl font-semibold">Your Angular Dashboard</h1>
    <div class="mt-4">
        <label for="modeDropdown" class="font-semibold">Mode:</label>
        <select
                id="modeDropdown"
                class="p-2 border rounded"
                [(ngModel)]="selectedMode"
                (change)="onModeChange(selectedMode)"
        >
            <option value="detail">Detail Mode</option>
            <option value="compare">Compare Mode</option>
            <option value="range">Range Mode</option>
        </select>
    </div>

    <div class="mt-4">
        <label for="firstWahlDropdown" class="font-semibold">Erste Wahl:</label>
        <select
                id="firstWahlDropdown"
                class="p-2 border rounded"
                [(ngModel)]="firstSelectedWahl"
        >
            <option [value]="wahl" *ngFor="let wahl of wahlen">{{ wahl.year }}</option>
        </select>
    </div>
    <div *ngIf="selectedMode === 'compare' || selectedMode === 'range'" class="mt-4">
        <label for="secondWahlDropdown" class="font-semibold">Zweite Wahl:</label>
        <select
                id="secondWahlDropdown"
                class="p-2 border rounded"
                [(ngModel)]="secondSelectedWahl"
        >
            <option [value]="wahl" *ngFor="let wahl of wahlen">{{ wahl.year }}</option>
        </select>
    </div>

    <app-bundesland-multi-select class="mt-4"/>

    <app-partei-multi-select class="mt-4"/>

</div>

-->

<header class="bg-white">
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex-1 md:flex md:items-center md:gap-12">
        <a class="block text-gray-900 text-2xl" href="/">
          <span class="sr-only">Home</span>
          Wahlentwicklung.de
        </a>
      </div>

      <div class="md:flex md:items-center md:gap-12">
        <nav aria-label="Global" class="hidden md:block">
          <ul class="flex items-center gap-6 text-sm">
            <li>
              <a
                class="text-gray-500 transition hover:text-gray-500/75"
                href="/"
              >
                Filter
              </a>
            </li>

            <li>
              <a
                class="text-gray-500 transition hover:text-gray-500/75"
                href="/"
              >
                Allgemein
              </a>
            </li>

            <li>
              <a
                class="text-gray-500 transition hover:text-gray-500/75"
                href="/"
              >
                Bundesländer
              </a>
            </li>

            <li>
              <a
                class="text-gray-500 transition hover:text-gray-500/75"
                href="/"
              >
                Wahlkreise
              </a>
            </li>

            <li>
              <a
                class="text-gray-500 transition hover:text-gray-500/75"
                href="/"
              >
                Parteien
              </a>
            </li>

            <li>
              <a
                class="text-gray-500 transition hover:text-gray-500/75"
                href="/"
              >
                Interessantes
              </a>
            </li>
          </ul>
        </nav>


      </div>
    </div>
  </div>
</header>

