
<div class="w-2/3 h-96 mx-auto max-w-7xl px-10 lg:px-12 flex flex-col relative">
  <h1 class="text-left">"Bellwether" Bundesland Phänomen: {{selectedBellwetherState?.state?.name}}</h1>

  <div class="flex">
    <div class="w-1/4 text-base">
      <p>Das "Bellwether" Bundesland spiegelt das US-Amerikanische Phänomen wieder, bei dem das Wahlergebnis
        eines Bundesstaates eng mit dem landesweiten Ergebnis übereinstimmt.
        Bei der Wahl von {{election?.year}} verkörpert dies {{selectedBellwetherState?.state?.name}},
        mit einer Differenz von nur {{selectedBellwetherState?.percentageDifference | number: '1.2-2'}}%.</p>
    </div>
    <div class="w-3/4">
      <!--<div class="text-center justify-center">
        <mat-form-field>
          <mat-label>Bundesland auswählen</mat-label>
          <mat-select [(ngModel)]="selectedBellwetherState" (selectionChange)="onBellwetherStateChange()" [disabled]="!bellwetherStates">
            <mat-option *ngIf="!bellwetherStates" [value]="">Loading...</mat-option>
            <mat-option *ngFor="let state of bellwetherStates" [value]="state">{{ state?.state?.name }} ({{state?.percentageDifference | number: '1.2-2'}}%)</mat-option>
          </mat-select>
        </mat-form-field>
      </div>-->
      <div #containerRef class="flex justify-center text-xl">

        <ng-container>
          <ngx-charts-bar-vertical-2d class="w-full h-96 mx-auto"
                                      [view]="[containerRef.offsetWidth, containerRef.offsetHeight]"
                                      [scheme]="chartConfig.scheme"
                                      [results]="chartData"
                                      [xAxis]="chartConfig.showXAxis"
                                      [yAxis]="chartConfig.showYAxis"
                                      [gradient]="chartConfig.gradient"
                                      [showXAxisLabel]="chartConfig.showXAxisLabel"
                                      [xAxisLabel]="chartConfig.xAxisLabel"
                                      [showYAxisLabel]="chartConfig.showYAxisLabel"
                                      [yAxisLabel]="chartConfig.yAxisLabel"
                                      [legend]="chartConfig.showLegend"
                                      [legendTitle]="chartConfig.legendTitle"
                                      [customColors]="barChart2DColorScheme"
          >
            <ng-template #tooltipTemplate let-model="model">
              <div class="custom-tooltip text-xl">
                <span>{{ model.name }}:</span> <br>
                <span>{{ model.value | number: '1.2-2' }}%</span>
              </div>
            </ng-template>
          </ngx-charts-bar-vertical-2d>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="absolute right-0 top-0 bottom-0 flex items-stretch justify-center">
    <button routerLink="/details/bellwether"
            class="full-height-button text-3xl rounded-lg"
            matTooltip="Details (Coming Soon)"
            [matTooltipPosition]="'right'">
      <mat-icon class="icon-display">keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
